<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? 'Edição de' : 'New' }} Release</h1>
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" name="tipo" formControlName="tipo"></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Expiry</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"
          name="dataVencimento" formControlName="dataVencimento">
        </p-calendar>

        <app-message [control]="formulario.get('dataVencimento')" error="required"
          text="Inform a expiry date"></app-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>{{ formulario.get('tipo')?.value === 'REVENUE' ? 'Revenue' : 'Payment' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Description</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Inform a description">
        </app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Minimum of {{ formulario.get('descricao')?.errors?.tamanhoMinimo?.tamanho }} characters.">
        </app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Amount</label>
        <p-inputNumber mode="currency" currency="BRL" locale='pt-BR' placeholder="0,00" formControlName="valor"
          name="valor"></p-inputNumber>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="categoria">
        <label>Category</label>
        <p-dropdown [options]="categorias" placeholder="Select" name="categoria" formControlName="codigo">
        </p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="pessoa">
        <label>People</label>
        <p-dropdown [options]="pessoas" placeholder="Select" name="pessoa" [filter]="true" formControlName="codigo">
        </p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observation</label>
        <textarea pInputTextarea rows="3" name="observacao" formControlName="observacao"></textarea>
      </div>

      <div class="col-6 col-offset-6 md:col-2 md:col-offset-10 p-fluid" *ngIf="!formulario.get('anexo')?.value">
        <p-fileUpload [style]="{'width':'100%'}" name="anexo" mode="basic" [auto]="true" [maxFileSize]="100000000"
          chooseLabel="Attach" accept="image/*,application/*" [headers]="uploadHeaders" [url]="urlUploadAnexo"
          (onBeforeUpload)="antesUploadAnexo()" (onUpload)="aoTerminarUploadAnexo($event)"
          (onError)="erroUpload($event)" [hidden]="uploadEmAndamento">
        </p-fileUpload>

        <p-progressSpinner [hidden]="!uploadEmAndamento" [style]="{ width: '25px', height: '25px' }">
        </p-progressSpinner>
      </div>

      <div class="col-12 p-fluid" dir="rtl" *ngIf="formulario.get('anexo')?.value">
        <button pButton type="button" class="p-button-danger" icon="pi pi-times" pTooltip="Remove Attach"
          tooltipPosition="top" (click)="removerAnexo()"></button>

        <a target="_blank" pTooltip="Download attach" tooltipPosition="top" [href]="formulario.get('urlAnexo')?.value">
          {{ nomeAnexo }}
        </a>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Save" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <button pButton type="button" label="New" class="p-button-info" (click)="novo()"></button>
        <a routerLink="/lancamentos">Back to research</a>
      </div>
    </div>

  </form>
</div>
