<div class="container">
  <form #pessoasForm="ngForm" autocomplete="off" (ngSubmit)="salvar(pessoasForm)">

    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? 'Edit of' : 'New' }} People</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Name</label>
        <input pInputText type="text" name="name" [(ngModel)]="pessoa.nome" #name="ngModel" [required]="true"
               minlength="5">

        <app-message [control]="name.control" error="required" text="Inform the name"></app-message>
        <app-message [control]="name.control" error="minlength"
                     text="Minimum of {{ name.errors?.minlength?.requiredLength }} characters"></app-message>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Street</label>
        <input pInputText type="text" name="street" [(ngModel)]="pessoa.endereco.logradouro" #logradouro="ngModel"
          [required]="true">

        <app-message [control]="logradouro.control" error="required" text="Inform the Street"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Number</label>
        <input pInputText type="text" name="number" [(ngModel)]="pessoa.endereco.numero" #numero="ngModel"
          [required]="true">

        <app-message [control]="numero.control" error="required" text="Inform the number"></app-message>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Complement</label>
        <input pInputText type="text" name="complement" [(ngModel)]="pessoa.endereco.complemento">
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>District</label>
        <input pInputText type="text" name="district" [(ngModel)]="pessoa.endereco.bairro" #bairro="ngModel"
          [required]="true">

        <app-message [control]="bairro.control" error="required" text="Inform the Disctrict"></app-message>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Zip Code</label>
        <p-inputMask name="cep" mask="99.999-999" [(ngModel)]="pessoa.endereco.cep" #cep="ngModel" [required]="true">
        </p-inputMask>

        <app-message [control]="cep.control" error="required" text="Inform the Zip Code"></app-message>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>State</label>
        <p-dropdown placeholder="Select..." [filter]="true" [options]="estados" [(ngModel)]="estadoSelecionado"
          name="stateSelected" #estado="ngModel" [required]="true" (onChange)="carregarCidades()"></p-dropdown>

        <app-message [control]="estado.control" error="required" text="Inform the State"></app-message>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>City</label>
        <p-dropdown placeholder="Select..." [filter]="true" [options]="cidades"
          [(ngModel)]="pessoa.endereco.cidade.codigo" name="city" #cidade="ngModel" [required]="true"
          [disabled]="!estadoSelecionado"></p-dropdown>

        <app-message [control]="cidade.control" error="required" text="Inform the City"></app-message>
      </div>

      <div class="col-12">
        <p-panel header="Contacts">
          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>
        </p-panel>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Save" [disabled]="pessoasForm.invalid"></button>
        <button pButton type="button" label="New" class="p-button-info" (click)="nova(pessoasForm)"></button>

        <a [routerLink]="['/pessoas']">Back to the Search</a>
      </div>
    </div>

  </form>
</div>
